body{
    background-color:darkseagreen;
}

a {
    color: #000;
}

a:hover {
    color:darkgreen;
}

.index:hover {
    color:darkslateblue;
}

li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#name {
    color:darkslategray;
    font-size: 1.5em;
    font-weight: bold;
}

h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color:navy;
    border-bottom: navy 0.1rem solid;
    width: fit-content;
    padding: 0 1rem;
    margin: 1rem auto;
}

h2 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color:midnightblue;
}

p {
    text-align: justify;
    padding: 1rem;
    background-color:lightblue;
    border-radius: 1rem;
    margin-right: 1rem;
    box-shadow: #000 0.2rem 0.2rem 0.2rem;
}

section {
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav {
    text-align: center;
    padding: 0.6rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color:lightgreen;
    border-radius: 1rem;
    width: fit-content;
    margin: 1rem auto;
    box-shadow: #000 0.2rem 0.2rem 0.2rem;
}

img {
    border-radius: 1rem;
    box-shadow: #000 0.2rem 0.2rem 0.2rem;
}